@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet");
/*---Global---*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

html,body{
	font-family: 'Open Sans';
	height: 100%;
	/*overflow: hidden;*/
}

a:link, a:hover, a:active{
	text-decoration: none!important;
}

/*---HEADER---*/

div#header{
	width: 100%;
	height: 50px;
	background-color: rgb(44, 62, 80);
	margin :0 auto;
	/*position: fixed; */

}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px
}

.logo a{
	font-size: 1.6em;
	color:red;
}

.logo a span {
	font-weight: 300;
	color : black;
}


/*---container---*/

div#container{
	width: 100%;
	margin:0 auto;
	height: 100%;
	position:relative;
    height: 100%;
    /*width:600px;  Sizing - any length */
    /*padding:50px 0 30px 0;  Header height and footer height */
    /*margin:0 auto 0 auto;  Center content */
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

/*---Menu toggle---*/

a.mobile{
 display: block;
 color:#fff;
 background-color: #000;
 text-align: center;
 padding: 7px;
}

a.mobile:active{
	background-color: #4a4a4a;
}

/*---MediaQuery---*/

@media only screen and (max-width:420px){
	.sidebar{
		width: 100%!important ;	
		display: none;
	}
}
@media only screen and (max-width:420px){
	.content{
		margin-left: 0px!important;
	}
}

@media only screen and (min-width:420px){
	a.mobile{
		display: none;
	}
	.sidebar{
		height: 100%;
		display: block;
	}
}

@media(max-width:768px) {
  #profile {
    display:none;
  }
}


/*---SIDEBAR---*/
.sidebar{
	width:250px;
	/*height: 100%;*/
	background-color: #0e121b;
	float: left;
	border-left: 1px solid black;
	position:absolute;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;

}


ul#nav{

}

ul#nav li{
	list-style: none;
/*	position: relative;*/
}

ul#nav li a{
	color :#ccc;
	display: block;
	padding: 10px;
	font-size: 1em;
	border-bottom: 1px solid #0a0a0a;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}

ul#nav li a:hover {
	background-color: #030303;
	color: #fff;
	padding-left: 15px;
	border-bottom: none;
}


.fa-fw {
    width: 1.28571429em;
    float: right;
    text-align: initial;
}

hr#line{
	margin: 0;
	padding: 0;
    border-bottom: 1px solid #312e2e;
}

/*---Dropdrown---*/
.collapse{   
	background-color: #012;
	text-align: right;
}

/*---profile---*/
figure {
    text-align: center;
    margin: 0 0 1rem;
}

.profile-userpic img {
  float: none;
  margin: 12px auto 0;
  padding:6px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border-left: 4px solid #333333;
  border-right: 4px solid #333333;
}

.profile-usertitle {
  text-align: center;
  margin-top: 16px;
  color: #333333;
}

.profile-usertitle-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

/*---CONTENT-BOX---*/
.content{
	width: auto;
	margin-left: 250px;
	height: 100%;
	background-color:#95a5a6;
	padding: 20px;
    min-width: 300px;
    overflow:auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
     overflow-y:hidden;
   	
}
.content p{
	color:#424242;
	font-size: 1em;
}

/*---Footer---*/

footer {
    width: 100%;
    background: grey;
    position: fixed; 
    bottom: 0;
    height: 30px;
}