@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	font-family: 'Open Sans';
	height: 100%;
}

a{
	text-decoration: none;
}

/*HEADER*/

div#header{
	width: 100%;
	height: 50px;
	background-color: rgb(44, 62, 80);
	margin :0 auto;
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px
}

.logo a{
	font-size: 1.6em;
	color:red;
}

.logo a span {
	font-weight: 300;
	color : black;
}


/*container*/
div#container{
	width: 100%
	margin:0 auto;
	height: 100%
}

a.mobile{
 display: block;
 color:#fff;
 background-color: #000;
 text-align: center;
 padding: 7px;
}

a.mobile:active{
	background-color: #4a4a4a;
}

@media only screen and (max-width:320px){
	.sidebar{
		width: 100%!important ;	
		display: none;
	}
}
@media only screen and (max-width:320px){
	.content{
		margin-left: 0px!important;
	}
}

@media only screen and (min-width:320px){
	a.mobile{
		display: none;
	}
	.sidebar{
		height: 100%;
		display: block;
	}


}

/*SIDEBAR*/
.sidebar{
	width:250px;
	/*height: 100%;*/
	background-color: #0e121b;
	float: left;
}

ul#nav{

}

ul#nav li{
	list-style: none;
}

ul#nav li a{
	color :#ccc;
	display: block;
	padding: 10px;
	font-size: 1em;
	border-bottom: 1px solid #0a0a0a;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}

ul#nav li a:hover {
	background-color: #030303;
	color: #fff;
	padding-left: 15px;
}



/*CONTENT-BOX*/
.content{
	width: auto;
	margin-left: 250px;
	height: 100%;
	background-color:#95a5a6;
	padding: 20px;
}
.content p{
	color:#424242;
	font-size: 1em;
}